<!-- Custom styles for this template -->
<link href="/stylesheets/headers.css" rel="stylesheet" />
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>

<header>
  <nav>
    <li class="position"><a href="/">Quora</a></li>
    <div class="items">
      <ul>
        <li><a href="/"><span class="material-symbols-outlined"> home </span></a></li>
        <li><span class="material-symbols-outlined"> speaker_notes </span></li>
        <li><span class="material-symbols-outlined"> edit_square </span></li>
        <li><span class="material-symbols-outlined"> groups </span></li>
        <li><span class="material-symbols-outlined"> notifications </span></li>
        <div class="search-box">
          <i class="fas fa-search"></i>
          <input type="text" placeholder="Search Quora" />
        </div>
        <button class="btn">Try Quora+</button>
            <a href="/users/profile">
              <span class="material-symbols-outlined profile">
              no_accounts
            </span></a>
        <span class="material-symbols-outlined globe"> language </span>
        <button class="btn2">Add question</button>
      </ul>
    </div>
  </nav>
</header>
