<link rel="stylesheet" href="/stylesheets/signInsignUp/foundation.css" />
<link rel="stylesheet" href="/stylesheets/signInsignUp/app.css" />
<div class="row expanded" id="row1">
  <div class="small-12 large-12 columns" id="text">
    <h1>QUORA</h1>
    <p id="p1">A place to share knowledge and better understand the world</p>
  </div>
</div>
<div class="row" id="row2">
  <div class="small-12 large-6 columns" id="left">
    <a href="#" class="button" id="google">
      <i class="fa fa-google" aria-hidden="true"></i> Continue with google</a
    >
    <br />

    <a href="#" class="button" id="facebook">
      <i class="fa fa-facebook-official" aria-hidden="true"></i> Continue with
      facebook</a
    >
    <br />
    <p id="p2">
      <a href="#"><button id="myBtn">Continue With Email</button></a>
      <br />
      By signing up you indicate that you have read and agree to the Terms of
      Service and Privacy Policy.
    </p>
  </div>
  <div class="small-12 large-6 columns" id="right">
    <form>
      <div class="row">
        <div class="medium-8 columns">
          <form action="/users/create-session" method="post">
              <label for=""><b>Email</b></label>
              <input type="email" placeholder="Your email" name="email" />
              <label for=""><b>Password</b></label>
              <input type="text" placeholder="Your password" name="password" />
              <a href="" id="#forgot">Forgot Password?</a>
              <a href="#" class="button" id="login" id="login">Login</a>
            </form>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <form action="/users/create" method="post">
      <label for="">Name</label>
      <input type="text" name="name" placeholder="Your name" required />
      <label for="">Email</label>
      <input type="email" name="email" placeholder="Your email" required />
      <label for="">Password</label>
      <input
        type="password"
        name="password"
        placeholder="Your password"
        required
      />
      <label for="">Confirm Password</label>
      <input
        type="password"
        name="confirm_password"
        placeholder="Confirm your password"
        required
      />
      <label for="">Email OTP</label>
      <input type="number" name="otp" placeholder="Enter email OTP"  />
      <input id="Submit" class="Submit" type="submit" value="Sign Up" />
    </form>
    <br />
    <div>
      <button id="sendcode">Send OTP</button>
    </div>
  </div>
</div>

<script>
  // Get the modal
  var modal = document.getElementById("myModal");

  // Get the button that opens the modal
  var btn = document.getElementById("myBtn");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks the button, open the modal
  btn.onclick = function () {
    modal.style.display = "block";
  };

  // When the user clicks on <span> (x), close the modal
  span.onclick = function () {
    modal.style.display = "none";
  };

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  };
</script>
