<div>
    <p> Hi! There, <br><br>You have recently visited 
        our website and entered your email.
        Please follow the given link to verify your email
        <%=link%> <br><br>
        Thanks</p>
</div>